* {
    margin: 0;
    padding: 0;
}

body{
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: orange;
    font-family: 'Inconsolata', monospace;
}

#cmd{
    font-weight: bold;
}