* {
    margin: 0;
    padding: 0;
}

body{
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: orange;
    font-family: 'Inconsolata', monospace;
    font-size: small;
}

#cmd{
    font-weight: bold;
}

input{
    border: none;
    background-color: transparent;
    color:orange;
    caret-color: transparent;
    font-family: 'Inconsolata', monospace;
    font-size: small;
}

*:focus {
    outline: none;
}